.radio {
  margin-top: 10px;
  display: flex;
  gap: 25px;
}
input[type="radio"] {
  border: 0px;
  width: 25px;
  height: 1.5rem;
  padding: 5px;
}
input[type="checkbox"] {
  border: 0px;
  width: 25px;
  height: 1.5rem;
  padding: 5px;
}
label {
  vertical-align: top;
}
select {
  border: none;
  background-color: whitesmoke;
  width: 90px;
}
.searchBox {
  height: 65px;
  background-color: white;
  border: 5px solid #febb02;
  display: flex;
  width: 90%;
  margin-top: 10px;
  border-radius: 2px;
}
input[type="text"] {
  font-size: 15px;
}
.searchInput {
  border: none;
  outline: none;
}
.date {
  color: lightgray;
  cursor: pointer;
}
.searchButton {
  height: 100%;

  width: 12%;
  border: 1px solid #febb02;
}
.searchButton > button {
  width: 100%;
  height: 100%;
  background-color: #0071c2;
  color: white;
  border: none;
}
.input1 {
  width: 30%;
  height: 100%;
  border: 1px solid #febb02;
  display: flex;
}
.input2 {
  width: 30%;
  height: 100%;
  border: 1px solid #febb02;
  display: flex;
}
.date1 {
  width: 14%;
  height: 100%;
  border: 1px solid #febb02;
}
.date2 {
  width: 14%;
  height: 100%;
  border: 1px solid #febb02;
}
.fromwhere {
  height: 90%;
  width: 100%;
  border: none;
}

.dep {
  height: 90%;
  width: 95%;
  border: none;
}
